beautifulsoup4==4.13.4
boto3==1.38.5
Crawl4AI==0.6.2
chromadb==1.0.7
fastapi==0.115.9
httptools==0.6.4
huggingface-hub==0.30.2
logfire==3.14.1
logfire-api==3.14.1
nltk==3.9.1
numpy==2.2.5
openai==1.76.2
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
pandas==2.2.3
pillow==10.4.0
playwright==1.55.0
pydantic==2.11.4
pydantic-ai==0.1.8
pydantic-ai-slim==0.1.8
pydantic-evals==0.1.8
pydantic-graph==0.1.8
pydantic-settings==2.9.1
pydantic_core==2.33.2
regex==2024.11.6
requests==2.32.3
streamlit==1.45.0
sentence_transformers==4.1.0